---
name: Dependabot Auto Merge
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  automerge:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          github-token: ${{ secrets.dependabot }}
          merge-method: rebase
